/*  ----------  COLORS

logo red    #ed2a24
blue		    #0092db
light gray  #f5f5f5
dark gray   #4d4d4d
---------- */

body { background-color: #f1f1f1!important; background-image: none!important; }

h1, h2, h3, h4, h5, h6 {
  font-family: HelveticaNeue,sans-serif!important;
  color: #4d4d4d!important;
}

/*  ----------  HEADER  ----------  */
.navbar-inner {
  background: #0065b3; /* Old browsers */
  background: -moz-linear-gradient(left,  #0065b3 0%, #0468b4 19%, #3988c3 41%, #3988c3 64%, #0468b4 85%, #0065b3 100%)!important; /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0065b3), color-stop(19%,#0468b4), color-stop(41%,#3988c3), color-stop(64%,#3988c3), color-stop(85%,#0468b4), color-stop(100%,#0065b3))!important; /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* IE10+ */
  background: linear-gradient(to right,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065b3', endColorstr='#0065b3',GradientType=1 )!important; /* IE6-9 */
  border: none;
  text-shadow: none;
  box-shadow: none;
  padding: 0;
  border-radius: 0!important;
}

.logo { padding: 20px!important; margin: 0!important; }

.slogan { padding: 0!important; margin: 0!important; }
.slogan h2 {
  font-family: HelveticaNeue,sans-serif;
  font-weight: normal;
  color: #fff!important;
  font-size: 48px;
  line-height: 60px;
  }

.slogan h4 {
  color: #eee!important;
  line-height: 18px;
  padding: 0 0 10px 3px;
 }

#top-nav { background-color: #4d4d4d; padding: 0 20px; margin: 0;
 }
#top-nav h5 {
  display: inline-block;
  line-height: 48px;
  background-color: #4d4d4d;
  margin-top: 0;
  margin-bottom: 0;
  color: #fff!important;
  }

.FAQ, .Privacy, .Language  { padding: 0 30px; }
.FAQ:hover, .Privacy:hover, .Language:hover {
  display: inline-block;
  background-color: #0092db;
  }

p.description { color: #666; }


/*  ----------  MAIN  ----------  */

.page-default {
  border-radius: 4px;
  margin-top: 20px;
  border: 1px solid #ededed;
}

.hero-unit {
  background: transparent url(https://www.gdg.do/storage/servlet/Image?c=9616156&fileName=3559260902166650838.jpg&contentType=image%2Fjpeg&suggestedName=Img+_+Intl+Volunteerism+Hero+Unit.jpg) 0 0 no-repeat;
  background-size: 100%;
  border-radius: 0!important;
  min-height: 400px;
}

#transbackground {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
}


/*  ---------- REGISTRATION FORM  ----------  */

#associate-info, #associate-info label { line-height: 48px; }

.available { background-color: #f5f5f5; padding: 15px 30px; border: 1px solid #ddd; }
.required { font-size: 10px!important; color: #ed2a24; font-style: italic; margin-top: 50px!important; }

/*  ----------  FOOTER  ----------  */

#footer-section {
  width: 100%;
  margin: 100px 0 -20px 0!important;
  padding: 0!important;
  background: #4d4d4d!important;
  height: auto!important;
}

#footer-section p { color: #4d4d4d; }

.footer-image {
  float: right;
  width: 630px;
  height: 150px;
  background: transparent url(https://www.gdg.do/storage/servlet/Image?c=9616156&fileName=4996227899396859057.png&contentType=image%2Fpng&suggestedName=Img+_+Staples+WPG+Footer.png) 0 0 no-repeat;
  margin-top: -95px;
}


.footer-bar {
  width: 100%;
background: #0065b3; /* Old browsers */
background: -moz-linear-gradient(left,  #0065b3 0%, #0468b4 19%, #3988c3 41%, #3988c3 64%, #0468b4 85%, #0065b3 100%)!important; /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0065b3), color-stop(19%,#0468b4), color-stop(41%,#3988c3), color-stop(64%,#3988c3), color-stop(85%,#0468b4), color-stop(100%,#0065b3))!important; /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* IE10+ */
background: linear-gradient(to right,  #0065b3 0%,#0468b4 19%,#3988c3 41%,#3988c3 64%,#0468b4 85%,#0065b3 100%)!important; /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065b3', endColorstr='#0065b3',GradientType=1 )!important; /* IE6-9 */
height: 20px;
margin-top: 70px;
}

  /*  ---------  BUTTONS  ----------  */
button, .button, button.success, button.primary {
  background: #ed2a24!important; /* logo red */
  color: #fff !important;
  font-family: HelveticaNeue,sans-serif;
  font-size: 14px!important;
  line-height: 24px;
  }

button:hover, .button:hover, button.success:hover, button.primary:hover {
    background: #ce120c!important;
    color: #fff !important;
    border: none!important; }

button.small.alert {
  background-color: #ccc!important;
  text-shadow: none!important;
  }

button.small.alert:hover {
  background-color: #4d4d4d!important;
}

/*  ----------------------------------------------------------------------------------------  */

   #faqModal {
     position: fixed;
     left: 0;
     padding: 20px;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .85);
   }



   #ppModal {
     position: fixed;
     left: 0;
     padding: 20px;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .85);
   }

   .show-modal{

      top: 0%;
      -webkit-transition: .5s; /* Safari */
      transition: .5s;
      opacity: 1;
   }

    .hide-modal{

      top: 100%;
      -webkit-transition: .5s; /* Safari */
      transition: .5s;
      opacity: 0;
   }


   .isPointer {
      cursor: pointer;
   }

   .full-width {
      width: 100%;
   }
